fastapi
uvicorn
pymongo
motor
python-dotenv
httpx
requests
dateparser
pytz
deepgram-sdk>=6.0.1,<7.0.0
python-multipart
websockets>=10.0
# AI
langchain
langgraph
langchain-groq
langchain-community
regex
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
sentence-transformers
pinecone
rapidfuzz
redis
celery
tiktoken
torch
transformers
spacy
pytextrank
pydantic-settings
neo4j
